::ng-deep :root {
    --primary-color: #7001FD;
    --secundary-color: #1E2772;
    --text-color: #C2C2C2;
    --background-color: #EEEEEE;
    --color-secundary-bg: #F1F3F6;
    --text-input-color: #555555;
}